@charset "utf-8";

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NanumSquare';
	src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
}
@font-face {
	font-family: 'Black Han Sans', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 기본 설정 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}
a {
	color: #222;
	text-decoration: none;
}
a:hover {
	color: #3853a4;
}
body, input, textarea, select, button, table {
	color: #222;
	font-size: 13px;
	line-height: 1.5;
}
dl, ul, li, ol, menu {
	list-style: none;
}
img, fieldset {
	border: 0 none;
}

/* header */
header {
	text-align: center;
	top: 0;
	position: sticky;
	background-color: white;
	font-size: 14px;
}
#menu {
	display: flex;
	padding: 10px;
}
#logo {
	margin-left: 5px;
}
#logo > img {
	height: 55px;
}
#logo > img:hover {
    content: url(./img/logo2.png);
}
#menu-bar {
	display: flex;
	align-items: flex-end;
	margin-left: auto;
}
#menu-bar > ul {
	display: flex;
    font-size: 0.9rem;
    font-weight: 400;
}
#menu-bar > ul > li {
	margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#menu-bar > ul > li:hover {
	font-weight: 600;
}

/* main */
.main-content {
	height: calc(100vh - 80px) !important;
	display: flex;
	justify-content: center;
}
.content-detail {
	padding: 30px;
	width: 100vw;
	max-width: 1000px;
	height: calc(100vh - 140px);
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
h1 {
    font-size: 3rem;
    font-weight: 900;
	margin-bottom: 10px;
}

/* intro */
#intro {
	background-color: #fff7f5;
}
#intro-profile {
	padding-bottom: 60px;
}
#intro-profile > img {
	width: 300px;
	padding-bottom: 10px;
}
#intro-text-content > span {
	font-size: 2.5rem;
	color: rgba(0, 0, 0, 0.6);
	font-family: 'Black Han Sans', sans-serif;
}
#intro-text-2 {
	color: rgba(0, 0, 0, 0.8) !important;
	font-size: 2.8rem !important;
	margin-right: 5px;
}
#intro-text-3 {
	color: rgba(0, 0, 0, 1) !important;
	font-size: 3.3rem !important;
	margin-right: 5px;
}

/* about */
#about {
	background-color: #fffcf3;
}
#about-page {
	display: inline-block;
	padding-top: 40px;
}
.about-content {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 15px 0;
	border-radius: 15px;
	margin-bottom: 25px;
}
.about-content-info {
	display: inline-block;
}
.about-content-info-div {
	width: 230px;
    margin: 5px 0;
    padding: 20px 0;
	padding-left: 60px;
    display: flex;
}
#about-i {
	height: 50px;
	width: 55px;
}
#about-i > i {
	margin-right: 15px;
	padding-top: 5px;
	font-size: 2rem;  
    margin-top: auto;
}
#about-info {
	text-align: left;
	font-size: 0.9rem;
}
#about-info-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px;
}
#about-2 {
	height: 380px;
}
.about-keyword {
	display: flex;
	justify-content: center;
	
}
.about-keyword > div {
	margin: 20px;
	background-color: #e4d5e9;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	font-family: 'SBAggroB' !important;
}

/* project */
* {
	/* border: 1px solid; */
}
#project {
	background-color: #c1f4e6;
}
#project-page {
	display: inline-block;
	margin-bottom: 20px;
}
#project-content {
	text-align: center;
	height: calc(100vh - 310px);
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 5px;
	padding: 30px 10px 20px 10px;
	border-radius: 15px;
}
#project-title {
	font-size: 2rem;
	font-weight: 900;
}
#project-info {
	display: flex;
	margin: 20px;
	margin-top: 30px;
	padding: 20px;
}
#project-info-img {
	align-items: center;
}
#project-info-img > img {
	width: 430px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-right: 30px;
}
#show-more {
	margin: 10px 170px;
	padding: 3px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 30px;
	border-radius: 25px;
	background-color: #b0edda;
}
#show-more > a {
	font-family: 'NanumSquareNeo-Variable';
	color: white;
}
#show-more:hover {
	background-color: #48cca3;
}
#project-info-text {
	text-align: left;
}
.project-info-detail {
	margin-bottom: 20px;
}
.project-info-detail > h2 {
	margin-bottom: 10px;
}
.project-info-detail > p {
	font-size: 0.9rem;
}

/* project-slide */
.slider {
	position: relative;
	width: 1000px;
	height: 700px;
	overflow: hidden;
}
.slides {
	display: flex;
	width: 3000px;
	transform: translateX(0); 
	transition: transform 0.5s ease-in-out;
}
.slide {
	width: 1000px;
	height: 690px;
}
.prev-btn,.next-btn {
	position: absolute;
	top: 50%;
	border: none;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
}
.prev-btn {
	width: 30px;
	height: 50px;
	opacity: 0.5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('./img/left2.png');
	margin-left: 2px;
}
.next-btn {
	width: 30px;
	height: 50px;
	opacity: 0.5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('./img/right2.png');
	margin-right: 2px;
}
.prev-btn:hover {
	opacity: 0.9;
	background-image: url('./img/left.png');
}
.next-btn:hover {
	opacity: 0.9;
	background-image: url('./img/right.png');
}
.prev-btn {
  	left: 0;
}
.next-btn {
  	right: 0;
}

/* blog */
#blog {
	background-color: #efe4f4;
}
#blog-page {
	display: inline-block;
	padding-bottom: 20px;
	text-align: center;
}
#blog-content {
	display: flex;
	text-align: center;
	height: calc(100vh - 250px);
	margin-top: 10px;
	padding: 0px 10px 10px 10px;
	border-radius: 15px;
	justify-content: center;
}
#blog-info {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	width: 500px;
	height: calc(100vh - 420px);
	margin: 60px 30px 15px 30px;
	padding: 30px 20px;
}
#blog-title {
	font-size: 2rem;
	font-weight: 900;
}
#blog-info > a > img {
	margin-top: 20px;
	margin-bottom: 5px;
	height: 230px;
	object-fit: cover;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
#blog-info > a > img:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#blog-url {
	text-align: center;
	margin-bottom: 40px;
	font-size: 0.7rem;
	color: rgba(0, 0, 0, 0.7);
}
#blog-text {
	font-weight: 500;
	text-align: left;
	padding: 5px 15px;
	font-size: 0.9rem;
}

/* contact */
#contact {
	background-color: #f7f7f7;
	margin-bottom: 10px;
}
#contact-page {
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;
}
#contact-content {
	margin: auto;
	text-align: center;
	padding: 40px 0 0 0;
	height: 190px;
	width: 280px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	margin-top: 200px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#contact-content:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#contact-content > i {
	margin: 10px;
	font-size: 2rem;
}
#contact-text {
	margin: 0 0 10px 0;
	font-size: 0.9rem;
}
#email {
	font-size: 1rem;
	font-weight: 600;
	
}